@tailwind base;
@tailwind components;
@tailwind utilities;

.without-ring:focus {
  outline: none;
  box-shadow: none;
}

.message-hover:hover .hidden.ll {
  display: flex;
  flex-direction: row-reverse;
}

.message-hover:hover .hidden.rr {
  display: flex;
}

.message-container {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}


.message-content {
  overflow-wrap: break-word;
  word-break: break-all;
}
