@tailwind base;
@tailwind components;
@tailwind utilities;


.without-ring:focus {
    outline: none;
    box-shadow: none;
}

.text-normal:hover .hidden.ll {
    display: flex;
    flex-direction: row-reverse;
  }

 .text-normal:hover .hidden.rr {
    display: flex;
  }
  