@tailwind base;
@tailwind components;
@tailwind utilities;

.without-ring:focus {
  outline: none;
  box-shadow: none;
}

.no-highlight {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* profile image */

.img-fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.img-fade.loaded {
  opacity: 1;
}

.message-hover:hover .hidden.ll {
  display: flex;
  flex-direction: row-reverse;
}

.message-hover:hover .hidden.rr {
  display: flex;
}

.message-container {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}


.message-content {
  overflow-wrap: break-word;
  word-break: break-all;
}
